<html>

	<head>
		<title>About Page</title>
		<link rel="icon" href="/images/about.jpg">
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	
	<body>
		<div class="main-content">
			{{>header}}
			<image src="/images/image.png" title="Picture">
			<h2>Name: {{name}}</h2>
			<h2>Course: {{course}}</h2>
		
		</div>
		
		{{>footer}}
	</body>

</html>